<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style1.css"/>
</head>
<body>
<img src="img/pic.jpg" width="100%" height="720px">
<div class="container">
  <div class="content">
    <h2> WELCOME TO NITK QUERRY PAGE </h2>
    <p> Hi..! Hello , First of all congratulations for getting an admission into most Prestigious college of Karnataka.</p>
    <button class="btn" onclick="myFunction()">click</button>
  </div>
  </div>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
